.div-block-ballot-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    margin-top: 60px;
    padding-top: 0px;
    border-style: none solid none none;
    border-width: 0px 0px 10px 10px;
    border-color: transparent #d00000 #780000;
    padding-right: 60px;
    padding-left: 60px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.div-block-ballot-wrap {
    overflow: auto;
    /* padding-bottom: 60px; */
    border-right: 2px solid #d00000;
    border-bottom: 2px solid #d00000;
    border-left: 2px solid #d00000;
}

.div-block-ballot-wrapper:before,
.div-block-ballot-wrapper:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.div-block-ballot-wrapper:after {
    clear: both
}

.div-block-ballot-wrapper .w-row {
    margin-left: -10px;
    margin-right: -10px
}

.heading-ballot {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #001d3d;
    color: #ffd60a;
    font-size: 30px;
    text-align: center;
}

.form-block {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.w-form {
    margin: 0 0 15px
}

.div-block-2 {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 0px;
    /* background-color: #fff8f0; */
    font-family: Montserrat, sans-serif;
    color: #111d4a;
}

.field-label-6 {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 60px;
    text-align: left;
    font-size: 18px;
}

.div-block-ballot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    text-align: left;
}

.photo1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
}

.image-3 {
    width: 100px;
    height: 100px;
    padding-left: 0px;
}

.w-radio {
    display: block;
    margin-bottom: 5px;
    padding-left: 20px
}

.w-radio:before,
.w-radio:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-radio:after {
    clear: both
}

.w-radio-input {
    margin-top: 3px
}

.w-radio-input {
    margin: 4px 0 0;
    margin-top: 20px;
    line-height: normal;
    float: left;
    margin-left: -20px
}

.w-form-label {
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0;
}

.div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}

.w-clearfix:before,
.w-clearfix:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-clearfix:after {
    clear: both
}

.submit-button {
    position: static;
    display: block;
    overflow: hidden;
    float: right;
    clear: left;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    -o-object-fit: fill;
    object-fit: fill;
    box-shadow: 0 1px 3px 0 #000;
    background-color: #d00000;
}

.clear-button {
    position: static;
    display: block;
    overflow: hidden;
    float: right;
    clear: left;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    -o-object-fit: fill;
    object-fit: fill;
    background-color: transparent !important;
    box-shadow: 0 1px 3px 0 #d00000;
    color: #001d3d !important;
}

/* 
display: inline;
margin-right: auto;
margin-left: 0px;
float: none;
clear: none;
border-style: solid;
border-width: 2px;
border-color: #d00000;
border-radius: 10px;
background-color: transparent;
color: #001d3d;
text-align: center; */

.w-button {
    display: inline-block;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2;
}

input.w-button {
    -webkit-appearance: button;
}

img {
    display: inline-block;
    max-width: 100%;
    border-radius: 100px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
}

.form {
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px px;
    /* background-color: #fff8f0; */
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}


h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


@media screen and (max-width:991px) {

    .div-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0px;
        clear: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-perspective: none;
        perspective: none;
        -webkit-perspective-origin: 50% 50%;
        perspective-origin: 50% 50%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        text-transform: none;
        mix-blend-mode: normal;
    }

    .image-3 {
        width: 80px;
        height: 80px;
    }
}


@media screen and (max-width:767px) {

    .w-row,
    .div-block-ballot-wrapper .w-row {
        margin-left: 0;
        margin-right: 0
    }

    .div-block-2 {
        padding-right: 60px;
        padding-left: 60px;
    }

    .field-label-6 {
        padding-left: 0px;
        text-align: center;
    }

    .photo1 {
        padding-right: 25px;
        padding-left: 25px;
    }

    .div-block {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width:479px) {
    .w-container {
        max-width: none
    }

    .heading {
        font-size: 20px;
    }

    .field-label-6 {
        font-size: 14px;
        text-align: center;
    }

    .div-block-candidphoto {
        padding: 16px 20px;
        text-align: center;
    }

    .image-3 {
        width: 60px;
        height: 60px;
    }

    .radio-button-field-2 {
        font-size: 10px;
    }

    .w-radio-input {
        margin-top: 15px;
    }
}


/* Loader */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(7, 51, 247, 0.952);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}